.container {
    min-height: 100vh;
    width: 100vw;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px 0;
}

.title {
    color: #FFF;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 32px;
}

@media(max-width: 1200px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .content {
        padding: 16px;
    }
}

@media(max-width: 800px){
    .grid {
        grid-template-columns: 1fr;
        padding: 16px;
    }

    .title{
        margin-left: 16px;
    }
}

